<div class="hero-wrapper">
  <%= image_tag 'teampic', :class => "hero-image" %>
  <div class="top-left">
    <h2>Coffee House</h2>
    <h4>Techonolgy solutions for big and small</h4>
  </div>
</div>
<div id="hero-grid" class="hero-chunk">
  <div class="box">
    <h2 class="title">Team</h2>
    <div class="box-table">
      <% @people.each do |person| %>
      <div id="one" class="item">
        <%= image_tag person.picture.url(:medium) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
