<div class="hero">
<h1>Works</h1>
</div>
<div id="hero-grid" class="hero-chunk">
  <div class="box">
    <div class="box-table padding">
      <% @projects.each do |project| %>
      <div id="one" class="item small">
        <%= image_tag project.picture.url(:medium) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
