<div class="hero-wrapper">
  <%= image_tag 'coffeebackground', :class => 'hero-image' %>
  <div class="top-left">
    <h2>Where Awesome...</h2>
    <h4>Gets More Awesomer...</h4>
  </div>
</div>
<h1>Services</h1>
<div class="service">
  <div class="content">
    <h3>Mobile Apps</h3>
    <%= image_tag "mobileapps.png", :class => 'icon-thumbnail' %>
    <p>
      Lorem ipsum dolor sit amet, alia inani meliore eu eam. Ut brute congue sadipscing
      duo, vix ea unum virtute. Ad vis libris iuvaret neglegentur. Ei clita pertinacia duo,
      et justo omnium latine nec. Cetero menandri torquatos has in, dicam conceptam vis id.
      Verterem dignissim percipitur sed in, porro possim consectetuer ea quo, id eos facer eleifend periculis.
      Et graeco sanctus his, id nec nobis ocurreret.
    </p>
  </div>
</div>
<div class="service">
  <div class="content">
    <h3>Web Apps</h3>
    <%= image_tag "webapps.jpg", :class => 'icon-thumbnail' %>
    <p>
      Lorem ipsum dolor sit amet, alia inani meliore eu eam. Ut brute congue sadipscing
      duo, vix ea unum virtute. Ad vis libris iuvaret neglegentur. Ei clita pertinacia duo,
      et justo omnium latine nec. Cetero menandri torquatos has in, dicam conceptam vis id.
      Verterem dignissim percipitur sed in, porro possim consectetuer ea quo, id eos facer eleifend periculis.
      Et graeco sanctus his, id nec nobis ocurreret.
    </p>
  </div>
</div>
<div class="service">
  <div class="content">
    <h3>Desktop Apps</h3>
    <%= image_tag "webapps.jpg", :class => 'icon-thumbnail' %>
    <p>
      Lorem ipsum dolor sit amet, alia inani meliore eu eam. Ut brute congue sadipscing
      duo, vix ea unum virtute. Ad vis libris iuvaret neglegentur. Ei clita pertinacia duo,
      et justo omnium latine nec. Cetero menandri torquatos has in, dicam conceptam vis id.
      Verterem dignissim percipitur sed in, porro possim consectetuer ea quo, id eos facer eleifend periculis.
      Et graeco sanctus his, id nec nobis ocurreret.
    </p>
  </div>
</div>
