<div class="hero-wrapper">
  <%= image_tag 'coffeebackground', :class => "hero-image" %>
  <div class="top-left">
    <h2>Coffee House</h2>
    <h4>Techonolgy solutions for big and small</h4>
  </div>
</div>
<div id="hero-grid" class="hero-chunk">
  <div class="box">
    <h2 class="title">What We Do</h2>
    <p>
      Lorem ipsum dolor sit amet, duo vivendum concludaturque an, sed ex omnis copiosae. Odio offendit imperdiet usu no. Eam ei inermis omnesque. Ex consul copiosae pro, vim ex iusto dicunt, mutat utroque fabellas quo cu. Nec cu copiosae erroribus explicari, dicunt bonorum atomorum cu vel. Ut his iusto assentior definitiones.
Est commune adversarium cu. Eu eum tale graece, ne habeo invenire eum. Cu sed accusamus dignissim. Agam fierent ex mea. Sed at denique invidunt
Quo ne tritani lobortis splendide, pri id dico eripuit insolens, facer paulo volumus eu quo. Nisl euismod sanctus sea te. Decore noluisse delicata ad mel, ex vidisse vocibus eligendi vel. Ex illud iracundia est. Ut virtute omnesque ullamcorper qui, ius cu errem adolescens dissentiunt, populo apeirian his te.
Evertitur constituto ut eam. Facer quaestio in mei, velit nostrud sententiae id nec. At omittam detracto vel, ne qui vide deserunt, qui et antiopam voluptatibus. Eu legimus deseruisse mei, ex vocent urbanitas complectitur sea.
Amet sanctus voluptatum sit ex, tantas persequeris id eam. Pro ei sumo democritum philosophia, te has malis persius laoreet. Audire expetendis ut vis, mea stet ceteros ex. Novum nusquam facilisis cu qui, diam scriptorem mediocritatem ei eam. Mei et suas quot torquatos, no nam facer etiam aeterno, option tibique dissentias no duo. Eu clita quodsi definitiones sea, in quas affert probatus nec.
    </p>
  </div>
</div>
