<div class="header-wrap">
  <header>
    <h1 class="logo">
      <%= image_tag 'logocoffee', :class => 'coffeehouse' %>
    </h1>
    <nav id="navigation">
      <ul id="top-menu" class="sf-menu">
        <li><a href="/">Work</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </header>
</div>
